---
// Decorative background orbs. Was injected by assets/site.js renderBackground().
---
<div class="bg-stage" aria-hidden="true">
  <div class="orb gold orb-1"></div>
  <div class="orb purple orb-2"></div>
  <div class="orb warm orb-3"></div>
</div>
